# Created by .ignore support plugin (hsz.mobi)
将删除 .idea/
.idea/.name
.idea/artifacts/
.idea/compiler.xml
.idea/copyright/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__asm_asm_3_3_1.xml
.idea/libraries/Maven__c3p0_c3p0_0_9_1_2.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_7.xml
.idea/libraries/Maven__com_oracle_ojdbc6_11_2_0.xml
.idea/libraries/Maven__com_sun_jdmk_jmxtools_1_2_1.xml
.idea/libraries/Maven__com_sun_jmx_jmxri_1_2_1.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_1_13.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_jms_jms_1_1.xml
.idea/libraries/Maven__javax_mail_mail_1_4.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_m10.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__log4j_log4j_1_2_15.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_javamail_1_4_spec_1_7_1.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_servlet_3_0_spec_1_0.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_7_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_2_6.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_2_3.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_1_6_RELEASE.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/libraries/Maven__xml_resolver_xml_resolver_1_2.xml
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
target/
